{% extends 'base.html.twig' %}

{% block content_class %}about-content{% endblock %}

{% block body %}
    <div>
        <a href="{{ path('homepage') }}">&lt; späť</a>
        <h2>O projekte</h2>

        <p>Naša otužilecká skupina Rampouch Dogs vznikla v roku 2020 a keďže nám chýbalo presné a pravidelné meranie teploty vody na Zlatých pieskoch, tak vznikol tento projekt.
            Veríme, že poslúži všetkým športovcom.</p>

        <h2>Pridaj sa k nám</h2>

        <p>Tento web chceme postupne rozširovať o ďalšie merania. Ak automatizovane meriaš teplotu vody v nejakom jazere, tak by sme ju radi zobrazovali na tomto webe.
            Ozvi sa nám, prosím, na <a href="mailto:ahoj@kolkoma.sk">ahoj@kolkoma.sk</a>.</p>

        <h2>Partneri</h2>

        <p>Ďakujeme partnerom projektu merania teploty vody na&nbsp;Zlatých pieskoch v&nbsp;Bratislave. Marcel z&nbsp;<a href="http://moirelabs.com/" target="_blank">Moire&nbsp;Labs</a> dodal,
            nakalibroval a prevádzkuje profi meracie zariadenie. Richard z&nbsp;<a href="https://wakelake.sk/" target="_blank">Wakelake</a> poskytol miesto na&nbsp;inštaláciu a Filip s Martinom
            z&nbsp;<a href="https://bratia.sk/" target="_blank">bratia.sk</a> a <a href="https://001.sk/" target="_blank">Studio 001</a> vytvorili tento web.
            Vrelo odporúčame ich služby, ak potrebuješ profi merať čokoľvek, zašportovať si na&nbsp;Zlatých pieskoch alebo vytvoriť web.</p>
        <p>Aj ty môžeš byť partnerom tohto projektu. Viď vyššie časť "Pridaj sa k nám".</p>

        <h2>Kontakt</h2>

        <p>Ak máš nejakú otázku, či pripomienku, tak nám napíš na&nbsp;<a href="mailto:ahoj@kolkoma.sk">ahoj@kolkoma.sk</a></p>

        <h2>Ďalšie plány</h2>

        <p>V najbližšej dobe pridáme grafy a API.</p>
    </div>
{% endblock %}
