{% extends 'base.html.twig' %}

{% block content_class %}homepage-content{% endblock %}

{% block body %}
    <h2 class="temperature">
        {% if last_measurement is null or last_measurement.value is null %}
            -
        {% else %}
            {{ last_measurement.value.formattedValue }}<span style="color: silver; font-weight: 300; font-size: 32px; letter-spacing: 0;"> °C</span>
            {% if last_measurement.outdated %}
                <div class="outdated-temperature">
                    <span class="text-black">Aktuálnu teplotu nájdeš na <a href="https://www.zdraveotuzovanie.sk/aktualna-teplota-vody/teplota-vody-zlate-piesky-bratislava/" target="_blank">zdraveotuzovanie.sk</a></span><br>
                    <br>
                    Tu je neaktuálna teplota. Pardon.&nbsp;:/<br>
                    Zobrazená teplota bola nameraná <strong class="d-inline-block">{{ last_measurement.value.measuredAt | date('j. n. \\o H:i') }}</strong>.<br>
                    Pracujeme na odstránení výpadku.
                </div>
            {% endif %}
        {% endif %}
    </h2>
{% endblock %}
