{% extends 'base.html.twig' %}

{% block content_class %}homepage-content{% endblock %}

{% block body %}
    <h2 class="temperature">
        {% if last_measurement is null or last_measurement.value is null %}
            -
        {% else %}
            {{ last_measurement.value.formattedValue }}<span style="color: silver; font-weight: 300; font-size: 32px; letter-spacing: 0;"> °C</span>
        {% endif %}
    </h2>
{% endblock %}
