{% extends 'base.html.twig' %}

{% block content_class %}about-content{% endblock %}

{% block body %}
    <div>
        <a href="{{ path('homepage') }}">&lt; späť</a>
        <h2>Grafy</h2>

        <p>Grafy teploty vody na Zlatých pieskoch plánujeme pridať do konca roka 2022.</p>
    </div>
{% endblock %}
