@import '~bootstrap/scss/bootstrap';

$lg-breakpoint: 700px;
$md-breakpoint: 500px;

@font-face {
    font-family: 'Roboto';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url('../fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: url('../fonts/Roboto-Black.ttf');
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    position: relative;
    font-family: 'Roboto', sans-serif;
}

html, * {
    box-sizing: border-box;
}

h1 {
    font-weight: 300;
    font-size: 16px;
    margin: 0;
}

header {
    padding: 10px;
}

@media (min-width: 600px) {
    header {
        display: flex;
        justify-content: space-between;
    }
}

.location-and-time {
    color: gray;
}

.homepage-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-content {
    margin: 0 auto 60px;
    padding: 15px 30px;
    max-width: 750px;
    width: 100%;
}

.about-content h2 {
    font-size: 24px;
    font-weight: 900;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.about-content {
    caption,
    p {
        font-size: 18px;
        line-height: 1.5;
    }
}

a {
    color: black;
}

a:hover {
    color: rgba(0, 0, 0, 0.56);
}

h2.temperature {
    margin: 50px 0 200px 0;
    font-size: 96px;
    letter-spacing: -5px;
    text-align: center;
    font-weight: 900;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 10px;
    color: gray;
    background-color: white;
}

@media (max-width: 599px) {
    header {
        text-align: center;
    }
    .location-and-time {
        padding-top: 10px;
    }
    .time {
        display: block;
    }
    h2.temperature {
        font-size: 72px;
    }
    .about-content h2 {
        font-size: 19px;
    }
    .about-content {
        caption,
        p {
            font-size: 16px;
            line-height: 1.5;
        }
    }
}

a.logo {
    text-decoration: none;
}

.charts-css.temperature-chart {
    height: 250px;
    --color: rgba(139, 214, 255, 0.73);
    --secondary-axes-color: #e8e8e8;
    --labels-align: left;
    --primary-axis-color: #0f6493;
    margin-bottom: 60px;
    position: relative;
    padding-right: 15px;

    tbody {
        border-top: 1px solid rgba(139, 214, 255, 0.5);
        border-top: 1px solid rgba(0, 0, 0, 0.5);
    }

    .y-axis-min {
        position: absolute;
        bottom: 15px;
        right: -15px;
        font-size: 13px;
        display: block;
        color: rgba(0, 0, 0, 0.5);
    }

    .y-axis-max {
        position: absolute;
        right: -20px;
        transform: translateY(-9px);
        font-size: 13px;
        display: block;
        color: rgba(0, 0, 0, 0.5);
    }

    &.show-heading {
        caption {
            height: auto;
            text-align: left;

            span.caption {
                color: black;
                display: block;
                padding-bottom: 5px;
            }
        }
    }

    .label {
        font-weight: 300;
        font-size: 12px;
        white-space: nowrap;
        padding-top: 3px;

        .inner-label {
            border: 1px solid white;

            .label-date {
                font-size: 10px;
                color: #a8a8a8;
            }
        }
    }

    &.show-data-on-hover {
        .data {
            font-size: 12px;
            color: #0f6493;
            font-weight: 900;
            position: absolute;
            white-space: nowrap;
            top: -25px;
            background-color: white;
            border: 1px solid #acd1e5;
            border-radius: 5px;
            padding: 3px 3px;
            z-index: 1000;
        }

        .show-data, .data {
            opacity: 0;
            transition-duration: 150ms;

            &.show-data-lg {
                @media (min-width: $lg-breakpoint) {
                    opacity: 1;
                }
            }

            &.show-data-md {
                @media (min-width: $md-breakpoint) and (max-width: $lg-breakpoint - 1px) {
                    opacity: 1;
                }
            }

            &.show-data-sm {
                @media (max-width: $md-breakpoint - 1px) {
                    opacity: 1;
                }
            }
        }

        tr:focus,
        tr:hover {
            outline: none;
            td {
                background-color: #0f6493;
            }

            .label {
                opacity: 1;
                z-index: 1005;

                .inner-label {
                    font-size: 16px;
                    background-color: white;
                    padding: 2px 5px;
                    font-weight: 900;
                    color: #0f6493;
                    border: 1px solid #0f6493;
                    border-radius: 5px;

                    .label-date {
                        font-size: 14px;
                        color: #0f6493;
                        font-weight: normal;
                    }
                }
            }

            .data {
                top: -30px;
                font-size: 16px;
                transition-duration: 150ms;
                opacity: 1;
                font-weight: 900;
                background-color: white;
                color: #0f6493;
                border: 1px solid #0f6493;
                z-index: 1001;
                box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
            }
        }
    }
}

.data-color {
    &.data-color-lg {
        @media (min-width: $lg-breakpoint) {
            --color: rgba(139, 214, 255, 1)
        }
    }

    &.data-color-md {
        @media (min-width: $md-breakpoint) and (max-width: $lg-breakpoint - 1px) {
            --color: rgba(139, 214, 255, 1)
        }
    }

    &.data-color-sm {
        @media (max-width: $md-breakpoint - 1px) {
            --color: rgba(139, 214, 255, 1)
        }
    }
}

.registration-form {
    max-width: 400px;
}
