<!DOCTYPE html>
<html lang="sk">
    <head>
        <!-- Google tag (gtag.js) -->
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('consent', 'default', {
                'ad_storage': 'denied',
                'analytics_storage': 'denied'
            });
        </script>
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-0X4W5TNW1Q"></script>
        <script>
            gtag('js', new Date());
            gtag('config', 'G-0X4W5TNW1Q');
        </script>

        <meta charset="UTF-8">
        <title>{% block title %}Teplota vody, Zlaté Piesky, Bratislava | KOLKOMA{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap" rel="stylesheet">

        <style>
            html, body {
                height: 100%;
                display: flex;
                flex-direction: column;
                margin: 0;
                padding: 0;
                position: relative;
                font-family: 'Roboto', sans-serif;
            }

            header {
                padding: 10px;
            }

            @media (min-width: 600px) {
                header {
                    display: flex;
                    justify-content: space-between;
                }
            }

            .location-and-time {
                color: gray;
            }

            .homepage-content {
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .about-content {
                margin: 0 auto;
                padding: 15px;
                max-width: 700px;
            }

            .about-content h2 {
                font-size: 24px;
            }

            .about-content p {
                font-size: 18px;
                line-height: 1.5;
            }

            a {
                color: black;
            }

            a:hover {
                color: rgba(0, 0, 0, 0.56);
            }

            h1 {
                margin: 50px 0 200px 0;
                font-size: 96px;
                letter-spacing: -5px;
            }

            footer {
                position: fixed;
                bottom: 0;
                left: 0;
                right: 0;
                text-align: center;
                padding: 10px;
                color: gray;
                background-color: white;
            }

            @media (max-width: 599px) {
                header {
                    text-align: center;
                }
                .location-and-time {
                    padding-top: 10px;
                }

                .time {
                    display: block;
                }

                h1 {
                    font-size: 72px;
                }

                .about-content h2 {
                    font-size: 19px;
                }

                .about-content p {
                    font-size: 15px;
                    line-height: 1.5;
                }
            }
        </style>
    </head>
    <body>
        <header>
            <div>
                <strong>KOLKO</strong>MA
            </div>
            <div class="location-and-time">
                {% block header %}{% endblock %}
            </div>
        </header>
        <div class="content {% block content_class %}{% endblock %}">
            {% block body %}{% endblock %}
        </div>
        <footer>
            © 2022, Rampouch Dogs | <a href="{{ path('charts') }}">Grafy</a> | <a href="{{ path('about') }}">O projekte</a>
        </footer>
    </body>
</html>
