<!DOCTYPE html>
<html lang="sk">
    <head>
        {% if app.environment == 'prod' %}
            <script defer data-domain="kolkoma.sk" src="https://plausible.io/js/script.js"></script>
        {% endif %}

        <meta charset="UTF-8">
        <title>{% block title %}Teplota vody, Zlaté piesky, Bratislava | KOLKOMA{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <meta name="description" content="Aktuálna teplota vody v jazere Zlaté piesky v Bratislave.">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

        <style>

        </style>
    </head>
    <body>
        <header>
            <div>
                <strong>KOLKO</strong>MA
            </div>
            <div class="location-and-time">
                {% block header %}{% endblock %}
            </div>
        </header>
        <div class="content {% block content_class %}{% endblock %}">
            {% block body %}{% endblock %}
        </div>
        <footer>
            © 2022, Rampouch Dogs | <a href="{{ path('charts') }}">Grafy</a> | <a href="{{ path('about') }}">O projekte</a>
        </footer>
    </body>
</html>
